@font-face {
    font-family: Ribeye;
    src: url("../../Ribeye/Ribeye-Regular.ttf");
}

.komponenta {
    color: black;
    font-family: 'Ribeye';
    font-size: 1.5rem;
    display: none;
}

li{
    color: black;
    font-family: 'Ribeye';
    margin-bottom:1.25rem ;
    font-size: 1.25rem;
}
li:last-child {
    margin-bottom: 0rem;
}