@font-face {
    font-family: Ribeye;
    src: url("./Ribeye/Ribeye-Regular.ttf");
}
.row{
    display:flex;

}
.main{
    max-width:85%;
    margin: auto;
    position:relative; 
    top: 5rem;
    padding-bottom: 1rem; 
}

.button{
    display: inline-block;
    width: 12rem;
    height: 2.5rem;
    color: #FFFFFF;
    background-color: #D90000;
    border: #D90000;
    border-right: black solid 0.5px;
    font-family: 'Ribeye';
    font-size: 25px; 
    margin-bottom: 20px;
    letter-spacing: -1px; line-height: 1; text-align: center; 
}
.clear{
        margin-top: 2rem;
        width: 12rem;
        height: 2.5rem;
        color: black;
        background-color: #FFFFFF;
        border: #FFFFFF;
        font-family: 'Ribeye';
        font-size: 25px;
        margin-bottom: 20px;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
        display:inline ;
}