@font-face {
    font-family: Ribeye;
    src: url("./Ribeye/Ribeye-Regular.ttf");
}
.navigation{
    background-color: #FFFFFF;
    color: black;
    font-family: 'Ribeye';
    font-size: 2rem;
    margin-top: 7rem;
    width: 100%;
    padding-left: 1rem;
    padding-bottom: 0rem;
}

.col
{
    margin: auto;
    
}