.body {
  background: #e31b5f;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap");

.title {
  text-align: center;
  font-size: 70px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #ff1f8f, 0px 20px #000000;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
}
