.body {
  background: #efe7db;
  margin: 0;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap");

.title {
  position: relative;
  width: 689px;
  height: 368px;
  left: 471px;
  top: 25px;
  font-family: "Ribeye";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 131px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imageWrapper {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.overlayImage {
  position: absolute;
  /* z-index: 1; */
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  left: 50%;
  width: 35%;
}

.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:30px;
  width:40px;
  height:40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}
.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:0.6;
}



.popup{

    background: rgba(0,0,0,0.3);
    backdrop-filter: saturate(180%) blur(10px);
    width: 400px;
    padding: 30px 40px;
    position: fixed;
    transform: translate(-50%,-50%);
    z-index: 1;
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    font-family: "Poppins",sans-serif;
    text-align: center;
  
}
/* .popup{
    background-color: #ffffff;
    width: 420px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    font-family: "Poppins",sans-serif;
    text-align: center;
} */
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: 	#800000;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup h2{
   margin-top: -20px;
   font-weight: bolder;
   font-size: 30px;
}
.popup p{
  font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
    font-weight: bolder;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
    color: white;
    text-shadow: white 0px 0px 3px;
}

.popup a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: 	#800000;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}