@font-face {
    font-family: Ribeye;
    src: url("./Ribeye/Ribeye-Regular.ttf");
}
.navigation{
    background-color: #FFFFFF;
    color: black;
    font-family: 'Ribeye';
    font-size: 2rem;
    margin-top: 7rem;
    width: 100%;
    padding-left: 2rem;
    padding-bottom: 0rem;
    padding-top: 1rem;
}

.option {
  box-shadow: inset 0 0 0 0 #D90000;
  color: black;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.option:hover {
  box-shadow: inset 100px 0 0 0 #fa0202;
  color: black;
}